* {
  box-sizing: border-box;
}
*::selection{
  background-color: var(--orange);
}
body{
  margin: 0;
}
/* colors */
:root{
  --black:#000;
  --white:#fff;
  --yellow:#ffd029;
  --orange:#ff9029;
  --grey:#23292e;
  --green:#2dba4e;
}
/* fonts */

@font-face {
  font-family: 'Inconsolata-Bold';
  src: url('../assets/fonts/Inconsolata-Bold.ttf');
}
.incon-bold{
  font-family: 'Inconsolata-Bold';
}
@font-face {
  font-family: 'Inconsolata-Regular';
  src: url('../assets/fonts/Inconsolata-Regular.ttf');
}
.incon-regular{
  font-family: 'Inconsolata-Regular';
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}
.montserrat-bold{
  font-family: 'Montserrat-Bold';
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}
.montserrat-regular{
  font-family: 'Montserrat-Regular';
}
@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('../assets/fonts/SourceSansPro-SemiBold.ttf');
}
.ssp-semibold{
  font-family: 'SourceSansPro-SemiBold';
}
/* text */
  /*color */
  .text-black{
    color:var(--black)
  }
  .text-white{
    color:var(--white)
  }
  .text-yellow{
    color:var(--yellow)
  }
  .text-orange{
    color:var(--orange)
  }
  /* size */
  .text-18{
    font-size: 18px;
  }
  .text-20{
    font-size: 20px;
  }
  .text-32{
    font-size: 32px;
  }
  .text-96{
    font-size: 96px;
  }
  .text-112{
    font-size: 112px;
  }
  /* decorations */
  .text-upper{
    text-transform: uppercase;
  }
  .text-center{
    text-align: center;
  }
  /* types */
  .text-title{
    color: transparent;
    -webkit-text-stroke: 3px var(--white);
    font-variant: small-caps;
    align-self: start;
    margin-bottom: 0;
    margin-left: -10%;
  }
/* flex */
.flex{
  display: flex;
}
.flex-center{
  align-items: center;
  justify-content: center;
}
.flex-column{
  flex-direction: column;
}
.flex-left{
  align-self: start;
}
a {
  color: inherit;
  text-decoration: none;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:60vw;
  margin:0 20%;
}
.heroImage{
    height: 650px;
    position: absolute;
    bottom:0;
    z-index: -1;
}
.wave{
  position: absolute;
  bottom: 0;
  left:-40.6%;
  width: 100vw;
  background: var(--yellow);
  height: 150px;
  border-radius: 100% 25% 0 0;
}