* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::selection{
  background-color: var(--orange);
}
body{
  margin: 0;
  overflow-x: hidden;
}
/* colors */
:root{
  --black:#000;
  --white:#fff;
  --yellow:#ffd029;
  --orange:#ff9029;
  --grey:#23292e;
  --green:#2dba4e;
}
/* fonts */

@font-face {
  font-family: 'Inconsolata-Bold';
  src: url('../assets/fonts/Inconsolata-Bold.ttf');
}
.incon-bold{
  font-family: 'Inconsolata-Bold';
}
@font-face {
  font-family: 'Inconsolata-Regular';
  src: url('../assets/fonts/Inconsolata-Regular.ttf');
}
.incon-regular{
  font-family: 'Inconsolata-Regular';
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}
.montserrat-bold{
  font-family: 'Montserrat-Bold';
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}
.montserrat-regular{
  font-family: 'Montserrat-Regular';
}
@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('../assets/fonts/SourceSansPro-SemiBold.ttf');
}
.ssp-semibold{
  font-family: 'SourceSansPro-SemiBold';
}
/* text */
  /*color */
  .text-black{
    color:var(--black)
  }
  .text-white{
    color:var(--white)
  }
  .text-yellow{
    color:var(--yellow)
  }
  .text-orange{
    color:var(--orange)
  }
  /* size */
  .text-11{
    font-size: 11px;
  }
  .text-12{
    font-size: 12px;
  }
  .text-18{
    font-size: 18px;
  }
  .text-20{
    font-size: 20px;
  }
  .text-32{
    font-size: 32px;
  }
  .text-96{
    font-size: 96px;
  }
  .text-112{
    font-size: 112px;
  }
  /* decorations */
  .text-upper{
    text-transform: uppercase;
  }
  .text-center{
    text-align: center;
  }
  .text-small-caps{
    font-variant: small-caps;
  }
  /* types */
  .text-title{
    color: transparent;
    -webkit-text-stroke: 3px var(--white);
    font-variant: small-caps;
    align-self: start;
    margin-bottom: 0;
    margin-left: -10% !important;
  }
  .text-title-work{
    -webkit-text-stroke: 3px var(--black);
    background: -webkit-linear-gradient(270deg, #FFFFFF 50.64%, #FFD029 98.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contact{
    -webkit-text-stroke: 3px var(--black);

  }
/* margins & paddings */

  .m-5btm{
    margin-bottom:5%;
  }
  .p-5btm{
    padding-bottom:5%;
  }
  .m-0top{
   margin-top:0%
  }
  .p-5top{
   padding-top:5%
  }
  .m-0{
   margin:0%
  }
 .m-1{
  margin:1%
 }
 .m-3{
  margin:3%
 }
 .m-5lftrght{
  margin:0 5%
 }
 .p-2{
  padding: 2%;
 }
 .p-4{
  padding: 4%;
 }
 /* width & height */
 .h-10{
  height: 10vw;
 }
 .h-20{
  height: 20vw;
 }
 .w-20{
  width: 20vw;
 }
 .w-100{
  width: 100vw;
 }
 .w-100p{
  width: 100%;
 }
 .w-50p{
  width: 50%;
 }
/* flex */
.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-center{
  align-items: center;
  justify-content: center;
}
.flex-column{
  flex-direction: column;
}
.flex-column-reverse{
  flex-direction: column-reverse;
}
.flex-left{
  align-self: start;
}
.flex-space-around{
  justify-content: space-around;
}
.flex-space-btwn{
  justify-content: space-between;
}
a {
  color: inherit;
  text-decoration: none;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:60vw;
  margin:0 20%;
}
.heroImage{
    height: 700px;
    width: 550px;
    position: absolute;
    bottom:0;
    z-index: -1;
}
.wave{
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: var(--yellow);
  height: 150px;
  border-radius: 100% 25% 0 0;
}
@media only screen and (max-width: 1366px) {
  main{
    margin:0;
    width:100vw;
  }
  .text-title{
    margin-left: -5% !important;
  }
  #contact{
    width:75% !important;
  }
  .heroImage{
    height: 600px;
  }
}

@media only screen and (max-width: 428px) {
  .name{
    position: absolute;
    top:25%;
  }
  main{
    width:210vw
  }
  .heroImage{
    height: 700px;
  }
  .work-text{
    width: 200vw;
    font-size: 4rem;
    text-align: center;
  }
  .text-20{
    font-size: 1.5em;
  }
  .text-18{
    font-size: 1.5em;
  }
  .text-12{
    font-size: 1.2em;
  }
  .location{
    position: absolute;
    bottom:12%;
    left:2%;
    text-shadow: 2px 2px var(--white);
    font-size: 1.8em;
  }
  .text-title-work{
    margin-left: -30% !important;
  }
  .contact-section{
    flex-direction: column;
    width: 150vw;
    height: 50vh;
  }
  .contact-photo{
    height: min-content;
    width: 100%;
  }
  .contact-buttons{
    width: 100%;
  }
  .wave{
    width: 220vw;
  }
}

@media only screen and (max-width: 360px) {
  main{
    width:210vw !important;
  }
  .wave{
    width: 220vw;
  }
}