.heroWrapper{
    height: 100vh;
    position: relative;
}
.heroText{
    color: transparent;
    -webkit-text-stroke: 2px var(--black);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

@media only screen and (max-width: 1366px) {
.heroWrapper{
    height: 120vh;
}
}
@media only screen and (max-width: 428px) {
    .heroWrapper{
        width: 200vw;
    }
}

@media only screen and (max-width: 360px) {
    .heroWrapper{
        width: 210vw;
    }
}
