.navbarWrapper{
    padding:2% 0 2% 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
    background-color: var(--white);
    box-shadow: 2px 2px 5px 0px var(--black);
    
}
.navbarWrapper a{
    text-shadow: 1px 1px rgba(0, 0, 0, 0.712);
}
.navbarWrapper a:hover{
    cursor: pointer;
}